<!DOCTYPE html>
<html>



<body>
<form method="post" enctype="multipart/form-data">
	<div style="text-align: center;">
		<h2>Choose files to upload</h2>
	</div>
	<div>
		<center>
		<p>Image: <input type=file name="image" accept=".jpg, .jpeg, .png" class="button buttonOverval"> 
		Mask: <input type=file name="mask" accept=".jpg, .jpeg, .png"></p>
		</center>
  </div>
	<div style="text-align: center;">
		<input type="submit" name="startModel" value="StartComputation" class="button buttonStart">
	</div>
</form>
<body bgcolor="#00BFFF">


	

</body>
</html>
